$color-primaryWhite: #fff;
$color-primaryBlack: #494949;
$color-defaultShadow: rgba(0, 0, 0, 0.45);
$color-defaultShadowHover: rgba(0, 0, 0, 0.75);
$color-defaultBackground: #afd3ff;
$color-mainMenuBackground: rgba(0, 0, 0, 0.22);
$color-mainMenuBackgroundHover: rgba(0, 0, 0, 0.61);
$color-boardBackground: rgba(0, 0, 0, 0.36);
$color-boardBackgroundHover: rgba(0, 0, 0, 0.6);
$color-barBackground: rgba(0, 0, 0, 0.59);
$color-barShadow: rgba(0, 0, 0, 0.29);
$color-barBorder: rgba(57, 57, 57, 0.84);
$color-mainMenuButton: rgba(0, 0, 0, 0.2);
$color-mainMenuButtonBorder: rgba(255, 255, 255, 0.43);
$color-mainMenuButtonHover: rgba(255, 255, 255, 0.82);
$color-input: rgba(0, 0, 0, 0.1);
$color-inputBorder: rgba(255, 255, 255, 0.58);
$color-inputHover: rgba(44, 44, 44, 0.82);
$color-veryLightTransparentBalck: rgba(0, 0, 0, 0.18);
$color-lightTransparentBlack: rgba(0, 0, 0, 0.31);
$color-boardSpecialElementBackground: rgba(0, 0, 0, 0.4);
$color-boardSpecialElementBackgroundHover: rgba(0, 0, 0, 0.6);
$color-boardAddColumnFormBackground: rgba(0, 0, 0, 0.3);
$color-boardAddButtonBorder: #7f7f7f;

$color-ticketColorRed: rgba(255, 0, 0, 0.4);
$color-ticketColorRedActive: rgba(255, 0, 0, 0.6);

$color-ticketColorGreen: rgba(0, 255, 0, 0.4);
$color-ticketColorGreenActive: rgba(0, 255, 0, 0.6);

$color-ticketColorBlue: rgba(0, 0, 255, 0.4);
$color-ticketColorBlueActive: rgba(0, 0, 255, 0.6);

$color-ticketColorPurple: rgba(169, 0, 255, 0.4);
$color-ticketColorPurpleActive: rgba(190, 0, 255, 0.6);

$color-ticketColorYellow: rgba(255, 246, 0, 0.4);
$color-ticketColorYellowActive: rgba(255, 246, 0, 0.6);

$color-ticketColorOrange: rgba(255, 142, 0, 0.4);
$color-ticketColorOrangeActive: rgba(255, 117, 0, 0.6);

$fontSize-huge: 30px;
$fontSize-extraLarge: 24px;
$fontSize-large: 20px;
$fontSize-medium: 16px;
$fontSize-small: 13px;
$fontSize-extraSmall: 10px;

$size-mainMenuHeight: 50px;
$size-mainMenuSideElementWidth: 25%;
$size-mainMenuButtonHeight: 35px;
$size-barDefaultMargin: 10px;
$size-barDefaultPadding: 10px;
$size-messageBarWidth: 35%;
$size-messageBarWidthTablet: 75%;
$size-messageBarWidthMobile: 85%;
$size-boardColumnHeaderHeight: 40px;
$size-boardColumnMaxWidth: 25%;
$size-boardColumnMinWidth: 15%;
$size-boardColumnMaxWidthTablet: 50%;
$size-boardColumnMinWidthTablet: 33%;
$size-boardColumnMaxWidthMobile: 90%;
$size-boardColumnMinWidthMobile: 45%;

$time-defaultTransition: .5s;
$time-defaultFastTransition: .2s;

$fontWeight-light: 300;
$fontWeight-medium: 400;
$fontWeight-bold: 600;

$tabletWidthLimit: 1000px;
$mobileWidthLimit: 500px;