$textareaMinHeight: 150px;
$menuButtonWidth: 100px;
$modalWidth: 500px;

h1 {
    @include font-pacifico();
    @include small-text-shadow();
    font-size: $fontSize-huge;
    color: $color-primaryWhite;
    transition: $time-defaultTransition;
}

h1:hover {
    @include small-text-shadow($color-defaultShadowHover);
}

h2 {
    @include font-pacifico();
    font-size: $fontSize-large;
    color: $color-primaryWhite;
}

textarea {
    @include height-limits($textareaMinHeight);
}

.menu-buttons-wrap {
    @include flex();

    &.right {
        justify-content: flex-end;
    }
}

.menu-button {
    @include form-element(auto, auto, $color-mainMenuButton, $color-mainMenuButtonBorder);
    @include flex(0 0 $menuButtonWidth, center, center, center);
    padding: 10px 10px;
    font-size: $fontSize-small;
    text-align: center;
    border-radius: 3px;
    color: $color-primaryWhite;
    font-weight: $fontWeight-bold;
    text-transform: uppercase;
    transition: $time-defaultTransition;

    &:first-child {
        margin-right: 20px;
    }

    &.forward {
        @include background('forward.svg');
    }

    &.backward {
        @include background('backward.svg');
    }

    &.home {
        @include background('home-white.svg');
    }

    &.settings {
        @include background('settings-white.svg');
    }

    &:hover {
        color: $color-primaryBlack;
        background-color: $color-mainMenuButtonHover;
    }
}

.bar {
    @include small-box-shadow($color-barShadow);
    background-color: $color-barBackground;
    border: 1px solid $color-barBorder;
    padding: $size-barDefaultPadding;
    margin: $size-barDefaultMargin;
}

.row-heading {
    @include flex(0 0 100%, center, center, center, row wrap);
    @include font-varela();
    @include small-text-shadow(rgba(0, 0, 0, 0.6));
    font-size: $fontSize-extraLarge;
    color: $color-primaryWhite;
    padding: 10px;
}

.modal-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: $color-boardSpecialElementBackgroundHover;
    z-index: 40;

    .modal-close {
        border: none;
        background-color: transparent;
        width: 25px;
        height: 25px;
        position: absolute;
        right: 10px;
        top: 10px;
        @include background('cancel-md-white.svg');
    }

    .modal {
        @include big-box-shadow();
        position: absolute;
        left: 50%;
        top: 50%;
        padding: 10px;
        transform: translate(-50%, -50%);
        width: $modalWidth;
        background-color: white;
        border: 1px solid $color-inputBorder;
    }
}

.flex-button {
    @include form-element(auto, auto, $color-mainMenuButton, $color-mainMenuButtonBorder);
    @include flex(1, center, center, center);
    padding: 10px;
    margin: 15px;
    font-size: $fontSize-large;
    text-align: center;
    border-radius: 3px;
    color: $color-primaryWhite;
    font-weight: $fontWeight-bold;
    text-transform: uppercase;
    transition: $time-defaultTransition;

    &:hover {
        color: $color-primaryBlack;
        background-color: $color-mainMenuButtonHover;
    }
}

.flex-input {
    @include flex(1, center, center, center);
    padding: 10px;
    margin: 15px;
    font-size: $fontSize-large;
    text-align: center;
    border-radius: 3px;
    color: $color-primaryWhite;
    font-weight: $fontWeight-bold;
    text-transform: uppercase;
    transition: $time-defaultTransition;

    &:hover {
        color: $color-primaryBlack;
        background-color: $color-mainMenuButtonHover;
    }
}

.flex-button-small {
    @include flexButton(16px, 6px, 6px, $fontSize-small);
}

.flex-button-medium {
    @include flexButton(24px, 10px, 10px, $fontSize-large);
}

.flex-button-huge {
    @include flexButton(32px, 15px, 15px, $fontSize-huge);
}

.flex-input-small {
    @include flexInput(16px, 6px, 6px, $fontSize-small);
}

.flex-input-medium {
    @include flexInput(24px, 10px, 10px, $fontSize-large);
}

.flex-input-huge {
    @include flexInput(32px, 15px, 15px, $fontSize-huge);
}

.input-style {
    @include form-element(auto, auto, $color-input, $color-inputBorder);
}

.flex-width-70 {
    @include flex(0 0 70%, flex-start, flex-start, center);
}

.flex-width-60 {
    @include flex(0 0 60%, flex-start, flex-start, center);
}

.flex-full-row {
    flex: 100%;
    flex-flow: row wrap;
}

.uppercase {
    text-transform: uppercase;
}

.row {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 100%;
}

.hidden {
    display: none;
}