.main-menu {
    @include flex();
    position: absolute;
    width: 100vw;
    height: $size-mainMenuHeight;
    background-color: $color-mainMenuBackground;
    transition: $time-defaultTransition;
    border-bottom: 1px solid $color-lightTransparentBlack;

    &:hover {
        @include big-box-shadow();
        background-color: $color-mainMenuBackgroundHover;
        border-bottom: 1px solid $color-mainMenuButtonHover;
    }
}

.menu-section {
    @include flex();
    height: 100%;
    padding: 0 20px;

    &.side-section {
        @include flex(0 0 $size-mainMenuSideElementWidth);
    }

    .heading {
        @include flex(1, center, center, center);

        @include mobile {
            display: none;
        }

        @include tablet {
            font-size: $fontSize-large;
        }
    }
}