@mixin background($imgPath, $position: center, $repeat: no-repeat, $size: inherit) {
  background: {
    image: url('../images/' + $imgPath);
    position: $position;
    repeat: $repeat;
    size: $size;
  }
}

@mixin font-pacifico {
  font-family: 'Pacifico', sans-serif;
}

@mixin font-varela {
  font-family: 'Varela Round', sans-serif;
}

@mixin small-text-shadow($color: $color-defaultShadow) {
  text-shadow: 0 0 2px $color, 0 0 10px $color;
}

@mixin big-text-shadow($color: $color-defaultShadow) {
  text-shadow: 0 0 20px $color;
}

@mixin small-box-shadow($color: $color-defaultShadow) {
  box-shadow: 0 0 10px $color;
}

@mixin big-box-shadow($color: $color-defaultShadow) {
  box-shadow: 0 0 20px $color;
}

@mixin flex($size: 1, $h-alignment: flex-start, $v-alignment: flex-start, $self-align: auto, $flow: row nowrap) {
  display: flex;
  flex-flow: $flow;
  flex: $size;
  align-content: $h-alignment;
  justify-content: $v-alignment;
  align-self: $self-align;
}

@mixin form-element($width: auto, $height: auto, $background-color: transparent, $border: none) {
  @include font-varela();
  width: auto;
  height: auto;
  color: $color-primaryWhite;
  padding: 4px 2px;
  background-color: $background-color;
  border: $border;
  cursor: pointer;
}

@mixin flexButton($lineHeight: 25px, $padding: 10px, $margin: 10px, $fontSize: $fontSize-large) {
  @include form-element(auto, auto, $color-mainMenuButton, $color-mainMenuButtonBorder);
  @include flex(1, center, center, center);
  padding: $padding;
  margin: $margin;
  line-height: $lineHeight;
  font-size: $fontSize;
  text-align: center;
  border-radius: 3px;
  color: $color-primaryWhite;
  font-weight: bold;
  transition: $time-defaultTransition;

  &:hover {
    color: $color-primaryBlack;
    background-color: $color-mainMenuButtonHover;
  }
}

@mixin flexInput($lineHeight: 25px, $padding: 10px, $margin: 10px, $fontSize: $fontSize-large) {
  @include form-element(auto, auto, $color-input, $color-inputBorder);
  @include flex(1, center, center, center);
  padding: $padding;
  margin: $margin;
  line-height: $lineHeight;
  font-size: $fontSize;
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
  transition: $time-defaultTransition;

  &:hover {
    color: $color-primaryWhite;
    background-color: $color-inputHover;
  }
}

@mixin text-truncate() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

